<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="grid--full grid--table">

        <div class="grid__item large--one-half">
            <ul class="top-left">
				<li>
				    <a href="http://www.danijohnson.com/contact">{{ 'contact.title' | t }}</a>
				</li>
				<!-- CUSTOMER -->
				{% comment %}
	              If customer accounts are enabled, provide login and create account links
	            {% endcomment %}
	            {% if shop.customer_accounts_enabled %}
	              <li>
	                {% if customer %}
	                  {% if customer.first_name != blank %}
	                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
	                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
	                  {% else %}
	                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
	                  {% endif %}
	                  | {{ 'layout.customer.log_out' | t | customer_logout_link }}
	                {% else %}
	                  {{ 'layout.customer.log_in' | t | customer_login_link }}
	                  | {{ 'layout.customer.create_account' | t | customer_register_link }}
	                {% endif %}
	              </li>
	            {% endif %}
			</ul>
        </div>

        <div class="grid__item top-right large--one-half large--text-right medium-down--hide">
		    <!-- CART -->
		    {% comment %}
              Show number of items in the cart and total cost in the /cart link

              Ajax Cart Notes:
                - #cartCount updates the total number of items in the cart
                - #cartCost updates the total cost of the cart
                - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}
          <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
            <span class="icon icon-cart" aria-hidden="true"></span>
            {{ 'layout.cart.title' | t }}
            (<span id="CartCount">{{ cart.item_count }}</span>
            {{ 'layout.cart.items_count' | t: count: cart.item_count }}
            <span id="CartCost">{{ cart.total_price | money }}</span>)
          </a>
			
			<!-- SEARCH BOX -->
			<div class="site-header__search">
              {% include 'search-bar' %}
            </div>
		</div>

	</div>
  </div>
</header>