{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-half small--one-whole' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = false %}
{% if product.tags contains 'sold_out' %}
  {% assign sold_out = true %}
{% endif %}

<div class="promo-product grid__item large--one-half small--one-whole dg-product-tile {% if sold_out %}sold-out{% endif %}">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <div class="grid__item large--one-half small--one-whole">
    <div class="img-wrapper grid__image">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </div>
    {% comment %} <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> {% endcomment %}
    {% if sold_out %}
      <div class="sale-table sold-out"><div class="sale-table-row header">
          <div class="text">Price</div>
        </div><div class="sale-table-row">
          <div class="text">{{ product.price | money }}</div>
      </div></div>
    {% else %}
      <div class="sale-table"><div class="sale-table-row header">
          <div class="text">Retail</div>
          <div class="text">25% OFF</div>
        </div><div class="sale-table-row">
          <div class="text old">{{ product.compare_at_price | money }}</div>
          <div class="text new">{{ product.price | money }}</div>
      </div></div>
    {% endif %}
  </div>
  <div class="grid__item large--one-half small--one-whole">
    <h1>{{ product.title | replace: '- Black Friday', '' }}</h1>
    <p>{{ product.description }}</p>
    {% if sold_out %}
      <p class="btn-wrapper">THIS DEAL IS SOLD OUT!</p>
    {% else %}
      <p class="btn-wrapper">Remaining at this price: <span>Only {{ product.selected_or_first_available_variant.inventory_quantity }} Left!</span></p>
    {% endif %}
    <!-- ADD TO CART -->
    <form action="/cart/add" method="post" id="AddToCartForm">
      {% include 'product-customizer' %}
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <div>
        <button type="submit" name="add" id="AddToCart" class="btn btn--secondary">
          <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </button>
      </div>
    </form>
  </div>
  <!-- <p>
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <strong>{{ 'products.product.on_sale' | t }}</strong>
        {{ product.price | money }}
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'products.general.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
    {% if sold_out %}
      <br><strong>{{ 'products.product.sold_out' | t }}</strong>
    {% endif %}
    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
      <br><s>{{ product.compare_at_price | money }}</s>
    {% endif %}
  </p> -->
</div>
