<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>

  {% assign SN = false %}
  {% for line_item in checkout.line_items %}
    {% assign thevendor = line_item.vendor %}
    {% if thevendor contains "Smarter Networker" %}
      {% assign SN = true %}
  <style>.btn { background: #59ba4f!important; } a.step__footer__previous-link { display: none; }</style>
    {% endif %}
  {% endfor %}

  <body>
    <div class="banner" data-header>
      <div class="wrap">
        {% if SN %}<!-- SMARTER NETWORKER branch -->
          <a href="http://www.smarternetworker.com" class="logo logo--center">
            <h1 class="logo__text visually-hidden">Smarter Networker</h1>
            <img alt="Smarter Networker" class="logo__image logo__image--large" src="//cdn.shopify.com/s/files/1/1358/2839/files/smarternetworker_logo.png?11480043959532550873">
          </a>
        {% else %}
          {{ content_for_logo }}
        {% endif %}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {% if SN %}<!-- SMARTER NETWORKER branch -->
              <a href="http://www.smarternetworker.com" class="logo logo--center">
                <h1 class="logo__text visually-hidden">Smarter Networker</h1>
                <img alt="Smarter Networker" class="logo__image logo__image--large" src="//cdn.shopify.com/s/files/1/1358/2839/files/smarternetworker_logo.png?11480043959532550873">
              </a>
            {% else %}
              {{ content_for_logo }}
            {% endif %}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        <div class="main" role="main">
          <div class="main__header">
            {% if SN %}<!-- SMARTER NETWORKER branch -->
              <a href="http://www.smarternetworker.com" class="logo logo--center">
                <h1 class="logo__text visually-hidden">Smarter Networker</h1>
                <img alt="Smarter Networker" class="logo__image logo__image--large" src="//cdn.shopify.com/s/files/1/1358/2839/files/smarternetworker_logo.png?11480043959532550873">
              </a>
            {% else %}
              {{ content_for_logo }}
              {{ breadcrumb }}
            {% endif %}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}

    {% comment %}
    This script grabs the referrer from the document via javascript. Keeping it here just in case
    <script>
        $( document ).ready(function() {
         $referrer = extractRootDomain( document.referrer );
         console.log( "The Referree is: " + $referrer );
         if ( $referrer.includes( "smarternetworker" )) {
             $smarter = true;
         } else { $smarter = false }
         console.log( "Smarter?: " + $smarter );
        });
        function extractHostname(url) {
          var hostname;
          //find & remove protocol (http, ftp, etc.) and get hostname

          if (url.indexOf("://") > -1) {
              hostname = url.split('/')[2];
          }
          else {
              hostname = url.split('/')[0];
          }

          //find & remove port number
          hostname = hostname.split(':')[0];
          //find & remove "?"
          hostname = hostname.split('?')[0];

          return hostname;
        }
        function extractRootDomain(url) {
          var domain = extractHostname(url),
              splitArr = domain.split('.'),
              arrLen = splitArr.length;

          //extracting the root domain here
          if (arrLen > 2) {
              domain = splitArr[arrLen - 2] + '.' + splitArr[arrLen - 1];
          }
          return domain;
        }
    </script>
    {% endcomment %}
  </body>
</html>
